In [1]:
import pandas as pd
import numpy as np

In [2]:
cluster = pd.read_csv('~/Downloads/user_categorical_w_cluster.csv')

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
x = cluster.drop(['user_id','user_signup_timestamp','zipcode','recent_bankruptcy_date','Unnamed..0'],1)
x

       state  is_homeowner  gender    age_bucket credit_score_bucket  cluster
0         AR          True  Female  (45.0, 50.0]      (630.0, 635.0]        2
1         NE         False     NaN  (50.0, 55.0]      (575.0, 580.0]        2
2         AL         False    Male  (50.0, 55.0]      (685.0, 690.0]        2
3         MT          True  Unisex  (50.0, 55.0]      (625.0, 630.0]        1
4         PA         False  Female  (20.0, 25.0]      (630.0, 635.0]        4
5         NC         False  Female  (35.0, 40.0]      (670.0, 675.0]        2
6         FL         False  Female  (45.0, 50.0]      (570.0, 575.0]        2
7         UT         False    Male  (35.0, 40.0]      (545.0, 550.0]        4
8         TN         False  Female  (30.0, 35.0]      (650.0, 655.0]        4
9         MS          True     NaN  (45.0, 50.0]      (535.0, 540.0]        2
10        KY         False  Female  (45.0, 50.0]      (770.0, 775.0]        4
11        MN          True  Unisex  (25.0, 30.0]      (650.0, 655.0]        1
12        TX         False    Male  (60.0, 65.0]      (520.0, 525.0]        2
13        WV          True  Female  (60.0, 65.0]      (605.0, 610.0]        1
14        CA         False     NaN  (70.0, 75.0]      (630.0, 635.0]        2
15        OH         False  Female  (40.0, 45.0]      (580.0, 585.0]        2
16        WA         False    Male  (65.0, 70.0]      (505.0, 510.0]        2
17        SC         False  Female  (20.0, 25.0]      (600.0, 605.0]        2
18        KY         False  Female  (20.0, 25.0]      (665.0, 670.0]        4
19        VA         False  Unisex  (30.0, 35.0]      (740.0, 745.0]        2
20        NC         False    Male  (35.0, 40.0]      (585.0, 590.0]        2
21        CA          True  Female  (75.0, 80.0]      (790.0, 795.0]        2
22        IL          True  Unisex  (40.0, 45.0]      (505.0, 510.0]        1
23        CA         False  Female  (70.0, 75.0]      (740.0, 745.0]        1
24        FL         False  Unisex  (35.0, 40.0]      (605.0, 610.0]        3
25        CA         False     NaN  (55.0, 60.0]      (785.0, 790.0]        4
26        KY          True  Female  (30.0, 35.0]      (640.0, 645.0]        2
27        CA          True    Male  (55.0, 60.0]      (510.0, 515.0]        2
28        FL         False    Male  (60.0, 65.0]      (595.0, 600.0]        2
29        TX         False  Female  (30.0, 35.0]      (505.0, 510.0]        4
...      ...           ...     ...           ...                 ...      ...
274868    GA         False  Female  (35.0, 40.0]      (580.0, 585.0]        4
274869    TX          True    Male  (55.0, 60.0]      (770.0, 775.0]        2
274870    MA         False     NaN  (20.0, 25.0]      (585.0, 590.0]        4
274871    SC         False    Male  (25.0, 30.0]      (575.0, 580.0]        2
274872    MI         False  Female  (30.0, 35.0]      (640.0, 645.0]        2
274873    MO         False    Male  (40.0, 45.0]      (575.0, 580.0]        4
274874    TX         False    Male  (40.0, 45.0]      (560.0, 565.0]        3
274875    FL         False  Unisex  (35.0, 40.0]      (500.0, 505.0]        2
274876    LA         False  Female  (45.0, 50.0]      (595.0, 600.0]        2
274877    NJ         False    Male  (50.0, 55.0]      (555.0, 560.0]        2
274878    CA         False  Unisex  (25.0, 30.0]      (510.0, 515.0]        2
274879    SC         False  Unisex  (20.0, 25.0]      (655.0, 660.0]        2
274880    IL         False    Male  (30.0, 35.0]      (665.0, 670.0]        2
274881    GA          True  Female  (45.0, 50.0]      (565.0, 570.0]        2
274882    TX         False  Unisex  (25.0, 30.0]      (600.0, 605.0]        3
274883    CA          True  Unisex  (65.0, 70.0]      (665.0, 670.0]        4
274884    TN         False  Unisex  (60.0, 65.0]      (540.0, 545.0]        4
274885    GA         False    Male  (70.0, 75.0]      (515.0, 520.0]        2
274886    MI         False  Female  (40.0, 45.0]      (590.0, 595.0]        2
274887    AZ          True  Unisex  (50.0, 55.0]      (610.0, 615.0]        2
274888    FL         False  Unisex  (25.0, 30.0]      (620.0, 625.0]        2
274889    AR          True    Male  (65.0, 70.0]      (555.0, 560.0]        2
274890    MA         False    Male  (20.0, 25.0]      (545.0, 550.0]        2
274891    PA          True  Unisex  (50.0, 55.0]      (535.0, 540.0]        2
274892    FL          True    Male  (30.0, 35.0]      (545.0, 550.0]        2
274893    GA         False    Male  (55.0, 60.0]      (675.0, 680.0]        2
274894    CA         False  Female  (45.0, 50.0]      (545.0, 550.0]        2
274895    TX         False  Unisex           NaN      (520.0, 525.0]        2
274896    GA         False  Unisex  (25.0, 30.0]      (585.0, 590.0]        2
274897    NV         False  Female  (30.0, 35.0]      (615.0, 620.0]        4

[274898 rows x 6 columns]

In [8]:
#sample
df_sample = x.sample(frac = 0.1, replace = False)
df_sample

       state  is_homeowner  gender    age_bucket credit_score_bucket  cluster
43337     TX         False  Unisex  (20.0, 25.0]      (510.0, 515.0]        2
211106    FL          True  Unisex  (40.0, 45.0]      (710.0, 715.0]        4
162065    GA          True    Male  (50.0, 55.0]      (615.0, 620.0]        1
4689      MD         False  Female  (25.0, 30.0]      (515.0, 520.0]        2
50043     TX          True  Female  (60.0, 65.0]      (635.0, 640.0]        1
75209     RI         False    Male  (70.0, 75.0]      (530.0, 535.0]        2
201652    NJ          True  Unisex  (55.0, 60.0]      (585.0, 590.0]        1
176761    MD         False  Unisex  (40.0, 45.0]      (515.0, 520.0]        2
122721    IA         False  Female  (30.0, 35.0]      (520.0, 525.0]        2
180649    TN         False  Female  (45.0, 50.0]      (500.0, 505.0]        2
115058    OH          True    Male  (45.0, 50.0]      (515.0, 520.0]        2
170255    LA         False  Female  (60.0, 65.0]      (600.0, 605.0]        3
233026    MA         False  Female  (35.0, 40.0]      (610.0, 615.0]        3
194708    SC         False    Male  (40.0, 45.0]      (520.0, 525.0]        2
18837     AR         False  Female  (25.0, 30.0]      (665.0, 670.0]        2
124766    VA         False  Female  (25.0, 30.0]      (605.0, 610.0]        4
178381    IL         False  Female  (60.0, 65.0]      (500.0, 505.0]        2
97048     IL         False  Unisex  (40.0, 45.0]      (655.0, 660.0]        2
7716      GA         False  Female  (45.0, 50.0]      (515.0, 520.0]        2
79523     FL         False  Female  (65.0, 70.0]      (720.0, 725.0]        2
49145     GA         False  Female  (40.0, 45.0]      (545.0, 550.0]        2
28919     CA         False  Female  (50.0, 55.0]      (550.0, 555.0]        2
270467    GA          True     NaN  (35.0, 40.0]      (760.0, 765.0]        2
190948    CA         False     NaN  (35.0, 40.0]      (725.0, 730.0]        2
108060    NJ         False    Male  (35.0, 40.0]      (510.0, 515.0]        2
32000     CO         False  Female  (20.0, 25.0]      (535.0, 540.0]        2
46485     HI         False  Female  (35.0, 40.0]      (505.0, 510.0]        2
220705    GA         False     NaN  (35.0, 40.0]      (550.0, 555.0]        2
105188    NJ         False  Female  (25.0, 30.0]      (525.0, 530.0]        2
188572    IA         False    Male  (60.0, 65.0]      (585.0, 590.0]        2
...      ...           ...     ...           ...                 ...      ...
229945    CO          True  Female  (60.0, 65.0]      (735.0, 740.0]        1
170739    GA         False    Male  (30.0, 35.0]      (550.0, 555.0]        2
263365    IN         False  Female  (35.0, 40.0]      (550.0, 555.0]        2
69361     CA         False    Male  (60.0, 65.0]      (665.0, 670.0]        2
148876    PA          True  Female  (65.0, 70.0]      (715.0, 720.0]        2
243824    GA         False     NaN  (35.0, 40.0]      (595.0, 600.0]        3
186645    LA          True    Male  (60.0, 65.0]      (665.0, 670.0]        1
111339    KY         False    Male  (25.0, 30.0]      (735.0, 740.0]        2
24180     NY         False  Female  (35.0, 40.0]      (520.0, 525.0]        2
51067     WA         False  Female  (30.0, 35.0]      (575.0, 580.0]        3
110325    LA         False     NaN  (30.0, 35.0]      (575.0, 580.0]        2
172910    NY         False     NaN  (50.0, 55.0]      (660.0, 665.0]        2
62841     TX         False  Female  (65.0, 70.0]      (590.0, 595.0]        2
125453    MO         False  Unisex  (30.0, 35.0]      (540.0, 545.0]        2
123072    PA         False  Female  (45.0, 50.0]      (505.0, 510.0]        2
7126      CO          True  Female  (35.0, 40.0]      (530.0, 535.0]        2
46241     OH         False    Male  (45.0, 50.0]      (515.0, 520.0]        4
247253    TX         False    Male  (55.0, 60.0]      (530.0, 535.0]        2
177565    NY         False    Male  (55.0, 60.0]      (520.0, 525.0]        2
116381    OH          True  Female  (20.0, 25.0]      (545.0, 550.0]        4
85555     FL         False  Female  (45.0, 50.0]      (560.0, 565.0]        2
116495    WI          True    Male  (50.0, 55.0]      (585.0, 590.0]        1
71563     NY         False  Female  (35.0, 40.0]      (575.0, 580.0]        2
168610    NM         False  Female  (20.0, 25.0]      (500.0, 505.0]        4
78317     DC         False     NaN  (30.0, 35.0]      (520.0, 525.0]        2
212524    FL          True  Female  (50.0, 55.0]      (510.0, 515.0]        3
268656    WA         False    Male  (45.0, 50.0]      (755.0, 760.0]        1
258576    CA         False  Female  (50.0, 55.0]      (705.0, 710.0]        2
6897      KS          True  Unisex  (25.0, 30.0]      (690.0, 695.0]        4
164563    NV         False  Female  (40.0, 45.0]      (515.0, 520.0]        2

[27490 rows x 6 columns]

In [9]:
#split
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(df_sample.drop('cluster',1),list(df_sample['cluster']),test_size=0.3,random_state=8)

In [23]:
x_train=pd.get_dummies(x_train,drop_first=True)
x_test=pd.get_dummies(x_test,drop_first=True)
y_train=pd.get_dummies(y_train,drop_first=False)
y_test=pd.get_dummies(y_test,drop_first=False)

In [27]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV

para ={'n_estimators':[50,100,150,200]}
gsearchRandom = GridSearchCV(estimator = RandomForestClassifier(random_state=42),param_grid = para,cv=5)
gsearchRandom.fit(x_train, y_train)
pred=gsearchRandom.predict(x_test)

ValueError: Number of features of the model must match the input. Model n_features is 132 and input n_features is 130